
.vs/slnx.sqlite
.vs/ProjectSettings.json
.vs/p3/v16/ipch/AutoPCH/1ea4bd0967494732/CARD.ipch
.vs/p3/v16/Browse.VC.opendb
.vs/p3/v16/Browse.VC.db-wal
.vs/p3/v16/Browse.VC.db-shm
.vs/p3/v16/Browse.VC.db
.vs/p3/v16/.suo
.vs/p3/v16/ipch/AutoPCH/cca04a2cee64ad07/PLAYER_TESTS.ipch
.vs/VSWorkspaceState.json
